*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Rubik";
}

html,body{
    height:100%;
    user-select: none;
}

#timer{
    width:100%;
    height:inherit;
    background-color: #1e2140;
    padding:0 2%;
}

.container{
    width: 100%;
    max-width:1280px;
    text-align: center;
}

#theme{
    width:100%;
    max-width:80px;
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 25px;
    position: absolute;
    right: 20%;
    top:5%;
    cursor:pointer;
}

#light, #dark{
    width:100%;
    border-radius:25px;
    font-size: 18px;
}

#light{
    background-color: #1e2140;
    color:white;
}

#dark{
    background-color: white;
    color:#1e2140;
}

#box{
    padding:5% 2%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 3px solid #2d3157;
    border-radius: 10px;
    box-shadow: -8px 8px 3px #0d0f24;
}

#box h2{
    color:white;
}

#circleProgress{
    width:100%;
    max-width: 300px;
    min-width: 300px;
    height:300px;
    margin:30px 0;
}

#box > p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:6em;
    font-weight: 700;
    color:white;
}

#box button{
    width: 100%;
    max-width:90px;
    height:40px;
    line-height: 40px;
    border-radius: 15px;
    border: 0;
    font-size:1rem;
    font-weight:bold;
    text-transform:uppercase;
    cursor: pointer;
}

@media screen and (max-width:890px){
    #theme{
        max-width:30px;
        height:60px;
        flex-direction: column;
        right: 5%;

    }

    #light, #dark{
        height:100%;
        max-width:30px ;
    }
}